@import '../scss/vars';

.blogPost {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 300px);
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  grid-column: 1 / -1;
  background-color: $gray;
}

.main {
  padding: 2em;
}

.side {
  grid-column: 2 / -1;
  background: $gray20;
  border-left: 1px solid $gray15;
  padding: 1em;
}